@model GoodCompanyMVC.Models.ViewModels.ApplicationViewModel

@{
    ViewData["Title"] = $"Application - {Model.Application.Title}";
}

<h1>Details</h1>

<div class="container pt-5">
    <div class="company">
        <div class="row justify-content-between">
            <h1>@Model.Application.Title</h1>
        </div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Application.Company.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Application.Company.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Application.NextActionDue)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Application.NextActionDue)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Application.NextAction)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Application.NextAction)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Application.DateApplied)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Application.DateApplied)
            </dd>
            <div class="justify-content-end">
                <h4>Skills:</h4>
                <p>
                    @if (Model.Application.Skills == null)
                    {
                        <text>None</text>
                    }
                    else
                    {
                        @foreach (Skill s in Model.Application.Skills)
                        {
                            @s.Name;
                            <br />
                        }
                    }
                </p>
            </div>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Application.SalaryRangeLow)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Application.SalaryRangeLow)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Application.SalaryRangeHigh)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Application.SalaryRangeHigh)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Application.FullBenefits)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Application.FullBenefits)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Application.DateListed)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Application.DateListed)
            </dd>
            @*<div class="justify-content-end">
                <h6>Skills:</h6>
                    @if (Model.Application.Skills == null)
                    {
                        <text>None</text>
                    }
                    else
                    {
                        @foreach (Skill s in Model.Application.Skills)
                        {
                            @s.Name;
                            <br />
                        }
                    }
            </div>*@
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Application.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Application.Id }) |
        <a asp-action="UserIndex">Back to List</a>
    </div>
</div>
