@model GoodCompanyMVC.Models.Company

@{
    ViewData["Title"] = "Details";
}

<div class="container pt-5">
    <div class="company">
            <div class="row justify-content-between">
                <h1>@Model.Name</h1>
            </div>
        <hr />

        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CompanySize)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CompanySize)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CompanyUrl)
                </dt>
                <dd class="col-sm-10">
                    <a href="@Model.CompanyUrl" alt="company URL">@Model.Name</a>
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HasMentor)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HasMentor)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HasProfDev)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HasProfDev)
                </dd>
            </dl>
        </div>
        <div>
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
                <a asp-action="Index">Back to List</a>
            </div>
</div>
